In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
imdb_df = pd.read_csv("movie_metadata.csv")

Features in IMDB

In [14]:
print("Total columns in dataframe: ",len(imdb_df.columns))
print("All Columns in dataframe:")
for feature in imdb_df.columns:
    print(feature)

Total columns in dataframe:  28
All Columns in dataframe:
color
director_name
num_critic_for_reviews
duration
director_facebook_likes
actor_3_facebook_likes
actor_2_name
actor_1_facebook_likes
gross
genres
actor_1_name
movie_title
num_voted_users
cast_total_facebook_likes
actor_3_name
facenumber_in_poster
plot_keywords
movie_imdb_link
num_user_for_reviews
language
country
content_rating
budget
title_year
actor_2_facebook_likes
imdb_score
aspect_ratio
movie_facebook_likes

imdb_df['color'].unique()
imdb_df['title_year'].unique()
df_temp = imdb_df['title_year'].fillna(0)
df_temp.astype(int)

In [26]:
df_temp.groupby()

TypeError: You have to supply one of 'by' and 'level'

## feature engineering:
Machine Learning for predicting years:

In [7]:
imdb_df.shape

(5043, 28)

In [8]:
for i in imdb_df:
    print(i)

color
director_name
num_critic_for_reviews
duration
director_facebook_likes
actor_3_facebook_likes
actor_2_name
actor_1_facebook_likes
gross
genres
actor_1_name
movie_title
num_voted_users
cast_total_facebook_likes
actor_3_name
facenumber_in_poster
plot_keywords
movie_imdb_link
num_user_for_reviews
language
country
content_rating
budget
title_year
actor_2_facebook_likes
imdb_score
aspect_ratio
movie_facebook_likes

In [1]:
year_score_df=imdb_df[['title_year','imdb_score']]
year_score_df

NameError: name 'imdb_df' is not defined

In [31]:
grouped = year_score_df.groupby('title_year', axis =1)

In [36]:
grouped_count_imdb = year_score_df.groupby(['title_year']).count()

In [42]:
grouped_count_imdb.tail()

            imdb_score
title_year
2012.0             221
2013.0             237
2014.0             252
2015.0             226
2016.0             106

In [40]:
grouped_count_imdb.sort_values('imdb_score', ascending = False)

            imdb_score
title_year
2009.0             260
2014.0             252
2006.0             239
2013.0             237
2010.0             230
2015.0             226
2011.0             225
2008.0             225
2005.0             221
2012.0             221
2004.0             214
2002.0             209
2007.0             204
2001.0             188
2000.0             171
2003.0             169
1999.0             168
1998.0             134
1997.0             118
2016.0             106
1996.0              99
1995.0              70
1994.0              54
1993.0              48
1992.0              34
1989.0              33
1981.0              33
1987.0              32
1991.0              31
1988.0              31
...                ...
1960.0               3
1939.0               3
1946.0               3
1959.0               3
1948.0               3
1947.0               3
1951.0               3
1956.0               3
1949.0               2
1955.0               2
1957.0               2
1929.0               2
1942.0               2
1938.0               2
1937.0               2
1936.0               2
1933.0               2
1934.0               1
1930.0               1
1932.0               1
1925.0               1
1927.0               1
1950.0               1
1935.0               1
1941.0               1
1943.0               1
1944.0               1
1958.0               1
1920.0               1
1916.0               1

[91 rows x 1 columns]

In [3]:
grouped_count

NameError: name 'df' is not defined

In [ ]:
()